
.container-header{
    background-image: url(./header-img/bg.png);
    padding-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
.content{
    max-width: 1200px;
    

}
.button{
    background-color: #ff6033;
    width: 100%;
    height: 55px;
    border: 0;
    color: white;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}
.title{
    font-size: 90px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    &--white{
        color:white
    }
    &--center{
        text-align: center;
    }
    @media screen and (max-width:576px) {
        text-align: center;
    }
    
}
.text{
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: 300;
    color:#343434;
    &--white{
        color:white;
    }
    &--center{
        text-align: center;
    }
}

.header{
    &__menu{
        transition: ease 1s all;
        list-style: none;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        padding: 0;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: bold;
        & a:link{
            color: black;
            text-decoration: none;
        }
        & a:visited{
            color: black;
        }
        
        @media screen and (max-width:992px){
            justify-content: space-around;
        }
        @media screen and (max-width:576px){
            flex-flow: column nowrap;
            position: fixed;
            z-index: 100;
            background-color: #666666da;
            height: 80vh;
            align-self: center;
            border: 1px black solid;
            align-items: center;
            opacity: 0;
            transform: scaleY(0);
            transform-origin: top;
            width: 100vw;  
            height: 100vh;
            top: 0vh;  
            left: 0;
            color: white;
            &--show{
                transform: scaleY(1);
                opacity: 1;
            }
                & li{
                    color: white;
                    padding: 0px 30px 0px 30px;
                }
        }
        & li{
            border-top: 3px solid transparent;

            &:hover{
            border-top: 3px orange solid;
         }    
         &:active{
             border-top: black 3px solid;
         }
        } 
    }
    &__burger{
        display: none;
        @media screen and (max-width:576px){
            background-color: rgba(255, 255, 255, 0.521);
            padding: 0px 10px 0px 10px;
            border-radius: 10px;
            border: 1px black solid;
            z-index: 100;
            display: block;
            &-icon{
                max-width: 100%;
                object-fit: cover;
            }
        }
    }
 
    &__block{
        @media screen and (min-width:700px){
       margin-bottom: 130px;}
    }
    &__fixer{
        position: fixed;
        width: 42px;
        height: 42px;
        padding: 5px;
    }

    &__logo{
        position: relative;
        bottom: 10px;
        max-width: 100%;
    }
    &__scroll-block{
      position: absolute;
      bottom: 5vh;
      left:0px;
      right: 0;
      display: flex;
      justify-content: center;
      & img{
          margin: auto;
      }
    }
    
}
.about{
    &__image{
        max-width: 100%;
    }
   
}

.container-about{
    background-color: #00bdbd;
}

// SERVICES

.container-services{
    background-color: #70bfff;
    padding-bottom: 150px;
    padding-top: 150px;
}
.background-services{
    background-image: url(./services-img/img.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.services{
    &__button{
        background-color: white;
        height: 100px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px black;
        text-align: center;
        transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s all;
        &:hover{
            opacity: 0.85;
            filter: brightness(90%);
            transform: scale(1.1,1.05);
        }
        &:hover .services__name{
            font-size: 1.3em;
            transition: linear .4s all
        }
        
    }
    &__name{
        flex-grow: 4;
        font-size: 20px;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
    }
    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        flex-grow: 1;
        max-width: 25%;
        min-width: 25%;
        border-left: 1px gray solid;
        padding: 0;
        margin: 0;
        margin-left: 2px;
        height: 100%;
    }
    &__title-block{
        &:hover span{
            color: rgba(0, 0, 0, 0.575);
        }
        position: relative;
        @media screen and (max-width:992px){
            display: none;
        }
    }

}
// GALLERY BLOCK

.container-gallery{
    background-color: #ffe92f;
}
.content-gallery{
   max-width: 1200px;

}

.gallery{
    &__image img{
    transition: cubic-bezier(0.895, 4.03, 0.685, 0.22) 1s all;
    width: 100%;
    height: 100%;
    transform: scale(1.03,1.03)
}
    &__image{
        & img:hover{
            cursor: pointer;
            box-shadow: 0 0 30px rgba(207, 159, 0, 0.603);
            transform: scale(1.05,1.05);
            z-index: 100;
        }
    }
    &__button{
        position: relative;
        width: 100%;
        height: 55px;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: white;
        background-color: #5585a2;
        border: 0;

        &:focus{
            outline: none;
        }
        &:hover{
            transform: scale(1.2,1.2);
            filter: brightness(70%);
            transition: linear 1s all;
        }
    }
    &__header{
        font-size: 90px;
        text-transform: capitalize;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        text-align: center;
        @media screen and (max-width:576px){
            font-size: 50px;
        }
    }
    &__text{
        font-size: 17px;
        font-weight: 300;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
}

// EMAIL BLOCK

.email__container{
    background-image: url(./email-img/bg.png);
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 140px;

}
.email__content{
    max-width: 1200px;
}

.email{
    &__title{
        font-size: 40px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }
    &__text{
        padding-top: 4px;
        font-size: 17px;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        @media screen and (max-width:575px){
            background-color: #fff;
        }
    }
    &__input{
        padding-left: 15px;
        width: 100%;
        height: 55px;
        border: solid 1px black;
    }
    &__button{
        width: 100%;
        height: 55px;
        background-color: #96b92c;
        border: 0;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 300;
    }
}

// blog


.blog-content{
    max-width: 1200px;
}
.blog{
    background-color: #b07cf7;
    padding-top: 80px;
}


/*  BODY */
.container-blog__content-blog{
    transform: scale(1);
    position: relative;
    background-size: cover;
    overflow: hidden;
    height: 50vh;
}
.content-blog__fixed{
    width: 60px;
    height: 60px;
    position: absolute;
    vertical-align: top;
    display: inline-block;
    left: 30px;
    top: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}
.content-blog__fixed_number{
    font-size: 32px;
    color: #fff;
    margin: 0;
    line-height: 32px;
    
}
.content-blog__fixed_word{
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    margin:0;
    line-height: 21px;
   
}

.content-blog__info{
 color: #fff;
font-family: "Raleway"; 
position: absolute;
left: 20px;
bottom: 25px;
max-width: 90%;
display: flex;
flex-direction: column;
justify-content: flex-end;
}
.content-blog__primary{
    font-size: 20px;

}
.content-blog__lower-text{
font-size: 14px;
color: rgba(255, 255, 255, 0.582);
margin: 0;
line-height: 1.4;
}

.container-blog__button{
    height: 55px;
    width: 100%;
    background-color: #f72b3b;
    font-size: 20px;
    font-family: "Raleway";
    text-align: center;
    color: #fff;
    font-weight: lighter;
    border: 0;
}

/*  BACKGROUND */

.content-blog__img{
    opacity: 0;
    width: 98%;
    height: 100%;
    position: absolute;
    left: 4px;
    transform: translate(-180px,100px) skew(20deg, 60deg);
    transition: ease-in .5s all;
    transform-origin: 20% -50%;
}
.container-blog__content-blog:hover .content-blog__img{
    opacity: 0.5;
    transform: translateY(0px) skew(0);
    transform-origin: 100% -100%;
}
.container-blog__content-blog:hover{
    transform: scale(1.05,1.05);
    transition: ease-in .5s all
}
.container-blog__content-blog:not(:hover){
    transform: scale(1);
    transition: ease-in .5s all
}
.container-blog__button:hover{
    transform: scale(1.1,1.1);
    transition: ease-in .2s all;
    background: linear-gradient(#f72b3b,rgba(0, 0, 0, 0.404));
}
.container-blog__button:not(:hover){
    transform: scale(1);
    transition: ease-in .5s all;
    background: linear-gradient(#f72b3b,rgba(0, 0, 0, 0.404));

}
/* BG IMAGES */
.container-blog__content-blog--img-1{
background-image: url(./blog-img/img-juice.png);
background-repeat: no-repeat;
}

.container-blog__content-blog--img-2{
    background-image: url(./blog-img/img-2-goroh.png);
    background-repeat: no-repeat;
}
.container-blog__content-blog--img-3{
    background-image: url(./blog-img/img-1-malina.png);
    background-repeat: no-repeat;
}

// CONTACTS

.contacts-container{
    padding-top: 90px;
    background-image: url(./contacts-img/img-contact.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
max-width: 1200px;
position: relative;
}
/*--------------------- header block----------------- */

/* ----------------------- form block -------------------- */


.form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: relative;

}
.form [type]{
    margin-bottom: 10px;
    height: 50px;
    background-color: #00c4c48a;
    border: 0;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
    padding-left: 19px;
}
.form [type]::placeholder{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 100;
}
.form [type]:focus{
    outline: 0;
    background-color: #00c4c4;
    border-left: 5px #355b82 solid;
}
.form__error{
    display: none;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 101%;
    border: rgba(214, 0, 0, 0.836) 2px solid;
}
.form__error-text{
    font-size: 14px;
    position: relative;
    bottom: 20px;
    color: rgba(223, 0, 0, 0.897);
}
.form [type]:invalid+.form__error{
   display: block;
   z-index: 1;
}
.form__error--email{
    position: absolute;
    top: 63px;
}
.form__textarea{
    margin-bottom: 20px;
    width: 100%;
    border: 0;
    height: 250px;
    background-color: #00c4c48e;
    padding-left: 19px;
    padding-top: 19px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
}
.form__textarea::placeholder{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 100;
}
.form__textarea:focus{
    background-color: #00c4c4;
}
/*-------------------- contacts block ---------------*/
.title__contacts{
    width: 100%;
    font-size: 80px;
    @media screen and (max-width:576px){
        font-size: 50px;
    }
}
.contacts{
    height: 180px;
    font-family: "Raleway"; 
    line-height: 1.2;
    @media screen and (max-width:576px){
        color: white;
    }
}
.contacts *{
    margin: 10px 0px -2px 0px;
    padding-left: 25px;
    padding-top: 0;

}
.contacts__title{
    font-size: 17px;
}
.contacts__info{
    font-size: 20px; 
    position: relative;
    bottom: 10px;
}

  
/*----------------------- footer block ---------------------*/
.footer-container{
    width: 100%;
    background-color: #262626
}
.main__footer-container{
    margin: auto;
    height: 90px;
    background-color: #262626;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer{
    width: 100%;
    height: 100%;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text{
    color: #b9b9b9;
    padding-left: 15px;
    font-size: 16px;
    font-family: "Raleway", sans-serif; 
}
.footer__text-right{
    font-size: 15px;
    padding-right: 15px;
    padding-left: 0px;
}
.footer__text-right span{
    color: #f52b55;
}
.footer__logo{
    position: relative;
    top: 2px;
    right: 34px;
    @media screen and (max-width:576px){
        display: none;
    }
}