.email__container{
    background-image: url(./img/bg.png);
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 140px;

}
.email__content{
    max-width: 1200px;
}

.email{
    &__title{
        font-size: 40px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }
    &__text{
        padding-top: 4px;
        font-size: 17px;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        @media screen and (max-width:575px){
            background-color: #fff;
        }
    }
    &__input{
        padding-left: 15px;
        width: 100%;
        height: 55px;
        border: solid 1px black;
    }
    &__button{
        width: 100%;
        height: 55px;
        background-color: #96b92c;
        border: 0;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 300;
    }
}